.selectBox{
    background-color: #f2f2f2;
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
  }
  .exportBox{
    justify-content: flex-end;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .exportBtn{
    display: block;
    width: 100px;
    background-color: #ffffff;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dcdfe6;
    cursor: pointer;
    border-radius: 4px;
  }
  .el-form--inline .el-form-item{
    margin:0 15px 18px 0;
  }
  .el-input__inner{
    height: 30px;
  }
  .el-form-item__label,.el-form-item__content{
    line-height: 30px;
  }
  .el-button--primary{
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
  }
  .el-range-editor.el-input__inner{
    padding: 0 10px;
  }
  .el-date-editor input{
    background-color: transparent;
  }
  .el-button{
    line-height: 30px;
  }
  .selectBox .el-button {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
  }
  .count{
    padding:6px 20px;
    width: 100%;
    background-color: #f3f3f3;
    margin-top:15px;
    margin-bottom: 15px;
    font-size:16px;
    font-weight: 800;
    color: #666666;
  }
  .count span{
    margin-right: 10px;
  }
  .box-card{
    width: 100%;
    background-color: #f3f3f3;
    padding:20px 20px 0;
  }
  .el-dialog__header{
    background-color: #0084FF;
  }
  .el-dialog__title{
    color: #fff;
    font-size: 16px;
  }
  .el-dialog__headerbtn .el-dialog__close{
    color: #fff;
  }
  .el-dialog__body{
   padding-bottom: 0;
  }
/*  .el-input-number.is-controls-right .el-input-number__decrease{
    height: 10px;
    line-height: 10px;
  }
  .el-input-number__increase,.el-input-number__decrease{
    display: block;
    width: 20px;
    height: 10px;
    line-height: 10px;
  } */
