.el-breadcrumb .el-breadcrumb__inner{
  color: #4B4D52;
  font-weight: 100;
}
.el-breadcrumb .el-breadcrumb__separator{
  margin: 0 5px;
  font-weight: 100;
}
.el-table .el-table__header thead th{
  background: #CCC;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
 .el-input--mini .el-input__inner{
    border-radius: 14px;
  }
  .el-range-editor--mini.el-input__inner {
    border-radius: 14px;
  }
#nprogress .bar {
  background: #812CB2 !important;
}

#nprogress .spinner-icon {
  border-top-color: #812CB2 !important;
  border-left-color: #812CB2 !important;
}
.el-pagination__editor.el-input .el-input__inner{
  border-radius: 14px;
}
.el-button{
  padding: 0 20px;
}
/* 图标居中 */
editor--mini .el-range__icon {
    line-height: 26px;
}
.el-range-editor--mini .el-range-separator {
    line-height: 26px;
}
.el-range-editor--mini .el-range__close-icon, .el-range-editor--mini .el-range__icon {
    line-height: 26px;
}
